.debug{
  background-color: rgba(165, 42, 42, 0.438);
}

header{
  background-color: #2e3a46;
  height: 75px;
}

header i{
  font-size: 2.4rem;
  color: #34be58;
}

header select{
  width: 200px !important;
}

/* main */

main{
  height: calc(100vh - 75px);
  background-color: #1e2d3b;
}

.container ._card{
  width: calc(100% / 5);
  color: white;
  background-color: #1e2d3b;
  border: 1px solid black;
}

.container ._card .card-content{
  background-color: #2e3a46;
}

._card .author, .year{
  color: #7d7977;
}

._card img{
  width: 100%;
}